Repository elifesciences/elife-xpub, pull requests merged in 2018-09, with the labels that each got.

#584 feat: install new relic monitoring
  app.js
  newrelic.js
  package.json
  yarn.lock
Labels: Deployment

#596 fix: persist opposed reviewers reason
  app/components/pages/SubmissionWizard/operations.js
  server/xpub/entities/manuscript/data-access.js
  server/xpub/entities/manuscript/helpers/empty.js
  server/xpub/entities/manuscript/index.js
  server/xpub/entities/manuscript/resolvers.js
  server/xpub/entities/manuscript/resolvers.test.data.js
  server/xpub/entities/manuscript/resolvers.test.js
  server/xpub/entities/manuscript/typeDefs.graphqls
  server/xpub/schema/migrations/1536842027-opposed-reviewers.sql
Labels: Bug, Client-Side, Server-Side

#610 fix: improve stream handling in upload resolver
  server/xpub/entities/manuscript/resolvers.js
Labels: Server-Side

#655 chore: remove unused dar-server package
  config/components.json
  config/default.js
  config/test.js
  server/dar-server/index.js
  server/dar-server/package.json
  server/dar-server/server.js
  yarn.lock
Labels: Server-Side

#663 docs: initial setup documentation
  config/default.js
  docs/README.md
  docs/adr/0002-pubsweet.md
  docs/deploying/README.md
  docs/deploying/deployment-pipeline.svg
  docs/developing/PubSweet-Components.md
  docs/developing/PubSweet.md
Labels: Documentation

#680 Showing user an error when uploading a manuscripts to S3 fails
  server/xpub/entities/manuscript/resolvers.js
Labels: Bug
